{% extends "global/partials/base.html" %}
{% load static %}

{% block css-content %}
		<link rel="stylesheet" href="{% static "global/css/about.css" %}">
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

{% endblock css-content %}

{% block content %}

{% block header %}
		{% include "global/partials/header.html" %}
{% endblock header %}
<main>
		<section class="sobre">
			<h2>O QUE É EXTENSÃO DE CÍLIOS? </h2><img src="{% static 'global/imgs/cilios.png' %}" alt="descrição">
				<p>Ao contrário dos cílios postiços, que são aplicados temporariamente, as extensões são feitas fio a fio, proporcionando um resultado mais natural e duradouro.</p>
				
				<h2>COMO É FEITA? </h2><img src="{% static 'global/imgs/pinca.png' %}" alt="descrição">
				<p>A extensão de cílios é a aplicação de fios sintéticos sobre os cílios naturais, um a um, usando cola especial. Colados apenas nos fios, então não há nenhum contato da cola com a pálpebra (pele).</p>
				
				<h2>VAI DOER?</h2><img src="{% static 'global/imgs/sono.png' %}" alt="descrição">
				<p>Não! O procedimento é indolor. Você ficará de olhos fechados durante toda a aplicação e muitas clientes até dormem durante o processo.</p>
				
				<h2>QUANTO TEMPO DURA O PROCEDIMENTO? </h2><img src="{% static 'global/imgs/relogio.png' %}" alt="descrição">
				<p>A primeira aplicação pode levar de 1 hora e meia a 2 horas, dependendo do estilo e do volume de cílios que você escolher. Manutenções costumam ser mais rápidas.</p>
				
				<h2>QUANTO TEMPO DURA A EXTENSÃO? </h2><img src="{% static 'global/imgs/calendario.png' %}" alt="descrição">
				<p>As extensões de cílios podem durar de 3 a 4 semanas, mas é recomendado fazer manutenções a cada 2 a 3 semanas para garantir que os cílios permaneçam cheios e bonitos.</p>
				
				<h2>POSSO USAR MAQUIAGEM DEPOIS DO PROCEDIMENTO? </h2><img src="{% static 'global/imgs/maquiagem.png' %}" alt="descrição">
				<p>Sim! Pode passar maquiagem evitando contato direto de produtos com os cílios, e rímel somente nos cílios inferiores.</p>
				
				<h2>O QUE É MANUTENÇÃO? </h2><img src="{% static 'global/imgs/duvida.png' %}" alt="descrição">
				<p>Quando a profissional remove os cílios que cresceram, reaplica novos, limpa a área dos olhos e ajusta os cílios para mantê-los bonitos e duradouros.</p>
				
				<h2>QUANDO FAZER? </h2><img src="{% static 'global/imgs/cilios.png' %}" alt="descrição">
				<p>Quando você perceber que os fios já caíram 50% e começaram a aparentar falhas. Consulte o tempo de durabilidade de cada volume.</p>
		</section>
		
		<section class="profissional">
			<h2>QUEM É A PROFISSIONAL QUE VAI ME ATENDER?</h2><img src="{% static 'global/imgs/profissional.png' %}" alt="descrição"><br>
			<img id='caracteristicas'src="{% static 'global/imgs/caracteristicas.png' %}" alt="descrição">
		</section>

		<section class="contato">
			<h2>Nosso Instagram</h2>
			<div class="instagram-embed">
				<iframe src="https://www.instagram.com/v.sstudio_/embed" allowtransparency="true" frameborder="0" scrolling="yesno" allowfullscreen></iframe>
			</div>
		
			<h2>Nosso Espaço</h2>
			<div class="mapa">
				<iframe 
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.0873049334325!2d-46.6858899!3d-23.4551308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef9f41616a49b%3A0x16f6bfcbb0191098!2sR.%20Clara%20Nunes%2C%20970%20-%20Conj.%20Promorar%20Estrada%20da%20Parada%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2008342-080!5e0!3m2!1spt-BR!2sbr!4v1711960200000!5m2!1spt-BR!2sbr" 
					loading="lazy" 
					referrerpolicy="no-referrer-when-downgrade"
					allowfullscreen>
				</iframe>
			</div>
		</section>		
</main>

{% endblock content %}