{% extends "global/partials/base.html" %}
{% load static %}
{% load custom_filters %}

{% block css-content %}
<link rel="stylesheet" href="{% static "global/css/index.css" %}">
{% endblock css-content %}

{% block content %}

{% block header %}
    {% include "global/partials/header.html" %}
{% endblock header %}

{% if mensagem %}
    <div class="selection-message">{{ mensagem }}</div>
{% endif %}

<div class="container">
    <!-- Primeira caixa: Escolha entre Aplicação ou Manutenção -->
    <div class="box">
				<img src="{{ service.image.url }}" alt="{{ service.name }}">
				<h3>{{ service.name }}</h3>
				<p>{{ service.description }}</p>
				<p><strong>Duração:</strong> {{ service.duration|duration_format }}</p>
        {% if not service.maintenance == None %}   
        <div class="checkbox-group">
            <form id="service-form" method="GET" action="{% url 'calendario' service.id %}">
                <h2>Escolha o tipo de serviço:</h2>
                    <label>
                        <input type="radio" name="service_type" value="manutencao" 
                            {% if service_type == "manutencao" %}checked{% endif %}
                            onchange="this.form.submit()">
                        Manutenção: R$ {{ service.maintenance }}
                    </label>
                    <label>
                        <input type="radio" name="service_type" value="aplicacao" 
                            {% if service_type == "aplicacao" %}checked{% endif %}
                            onchange="this.form.submit()">
                        Aplicação: {{ service.application|get_total_value }}
                    </label>
                </div>
            </div>
        {% else %}
        <div class="checkbox-group">
            <form id="service-form" method="GET" action="{% url 'calendario' service.id %}">
                <h2>Tipo de serviço:</h2>
                    <label>
                        <input type="radio" name="service_type" value="aplicacao" 
                            {% if service_type == "aplicacao" %}checked{% endif %}
                            onchange="this.form.submit()">
                        Aplicação: {{ service.application|get_total_value }}
                    </label>
                </div>
            </form>   
</div>
        {% endif %}
           

    <!-- Segunda caixa: Seleção do calendário -->
    <div class="box">
        <h2>Calendário de Agendamentos - {{ mes }}/{{ ano }}</h2>
    
        <!-- Linha dos dias da semana -->
        <div class="weekdays">
            <div>Dom</div>
            <div>Seg</div>
            <div>Ter</div>
            <div>Qua</div>
            <div>Qui</div>
            <div>Sex</div>
            <div>Sáb</div>
        </div>
    
        <!-- Linha dos dias do mês -->
        <div class="calendar">
            {% for _ in empty_slots %}
            <div class="empty"></div>
            {% endfor %}
            
            {% for item in calendario %}
                {% if item.dia.day < dia_atual.day %}
                    <div class="day-not-available">
                        {{ item.dia.day }}
                    </div>
                {% else %}
                    <div class="day" onclick="document.getElementById('modal-{{ item.dia }}').classList.add('active')">
                        {{ item.dia.day }}
                    </div>
                {% endif %}
                
            {% if service_type%}
                <!-- Modal para selecionar horários -->
                <div id="modal-{{ item.dia }}" class="modal">
                    <h3>Escolha um horário - {{ item.dia|date:"d/m/Y" }}</h3>
                    <ul>
                        {% for horario in item.horarios %}
                        
                        <a class="horario" href="{% url 'agendar_horario' service_type service.id item.dia horario|time:'H:i' %}">
                            {{ horario|time:"H:i" }}
                        </a>
                        {% empty %}
                        <li>Sem horários disponíveis</li>
                        {% endfor %}
                    </ul>
                    <button class="close" onclick="document.getElementById('modal-{{ item.dia }}').classList.remove('active')">Fechar</button>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>    
</div>
{% endblock content %}
