{% extends "global/partials/base.html" %}
{% load static %}


{% comment %} Bloco do link para o CSS do Index{% endcomment %}
{% block css-index %}
		<link rel="stylesheet" href="{% static "global/css/index.css" %}">
{% endblock css-index %}

{% comment %} Bloco do link para o CSS do Header{% endcomment %}
{% block css-header %}
		<link rel="stylesheet" href="{% static "global/css/header.css" %}">
{% endblock css-header %}



{% comment %} Inclui o Header {% endcomment %}
{% block header %}
		{% include "global/partials/header.html" %}
{% endblock header %}

{% comment %} Inclui o Header {% endcomment %}
{% block mensagem %}
		{% if mensagem %}   
			{{ mensagem }}
		{% endif %}
{% endblock mensagem %}

{% comment %} Inclui o Calendário no index {% endcomment %}
{% block calendar %}
<div class="container">
	<h2>Calendário de Agendamentos - {{ mes }}/{{ ano }}</h2>

	<div class="calendar">
			{% for item in calendario %}
					<div class="day" onclick="document.getElementById('modal-{{ item.dia }}').classList.add('active')">
							{{ item.dia.day }}
					</div>

					<div id="modal-{{ item.dia }}" class="modal">
							<h3>Escolha um horário - {{ item.dia|date:"d/m/Y" }}</h3>
							<ul>
									{% for horario in item.horarios %}
											
											<a class="horario" href="{% url 'agendar_horario' telephone service_id item.dia horario|time:'H:i' %}">
													{{ horario|time:"H:i" }}
											</a>
											
									{% empty %}
											<li>Sem horários disponíveis</li>
									{% endfor %}
							</ul>
							<button class="close" onclick="document.getElementById('modal-{{ item.dia }}').classList.remove('active')">Fechar</button>
					</div>
			{% endfor %}
	</div>
</div>
{% endblock calendar %}