{% extends "global/partials/base.html" %}
{% load static %}
{% load custom_filters %}

{% block css-content %}
    <link rel="stylesheet" href="{% static 'global/css/payment.css' %}">
{% endblock css-content %}

{% block content %}

{% block header %}
    {% include "global/partials/header.html" %}
{% endblock header %} 

{% block mensagem %}
    {% if mensagem %}   
        <p class="selection-message">{{ mensagem }}</p>
    {% endif %}
{% endblock mensagem %}

<div class="container">
    <!-- Resumo do Serviço -->
    <div class="box box-resume">
        <h2>Resumo do Serviço</h2>
            <img src="{{ service.image.url }}" alt="{{ service.name }}">
            <h3>{{ service.name }}</h3>
            <p><strong>Duração:</strong> {{ formatted_duration }}</p>
            <p><strong>Tipo de serviço:</strong> {{ service_type }}</p>
            <p><strong>Data:</strong> {{ date }} - ({{ name_week}})</p>
            <p><strong>Horário:</strong> {{ time }}h</p>
            <p><strong>Valor Total:</strong> R$ {{ service.application }}</p>
    </div>
    <!-- Formulário de Cliente + Pagamento -->
    <div class="box box-payment">
        <h2>Confirme seus dados:</h2>
        <form id="customer-form">
            {% csrf_token %}

            <!-- Entrada de Nome e Telefone -->
            <div class="input-row">
                <div class="input-group">
                    <label for="name">Nome completo:</label>
                    {% if user.name == "" %}
                        <input type="text" id="name" name="name" placeholder="Vivian Leonardo Sales">
                    {% else %}
                        <input type="text" id="name" name="name" placeholder="Vivian Leonardo Sales" value=" {{user.name}} ">
                    {% endif %}
                </div>
                <div class="input-group">
                    <label for="phone">Telefone:</label>
                    <input type="text" id="phone" name="phone" placeholder="(11) 96829-9535" value =" {{ user.phone }} ">
                </div>
            </div>
        </form>
        <!-- Opções de Pagamento -->
        <div class="box box-payment">
            <form id="payment-form">
                <h2>Forma de pagamento:</h2>
                    <label>
                        <input type="radio" name="payment_type" value="sinal" 
                            {% if payment_type == "sinal" %}checked{% endif %}
                            onchange="this.form.submit()">
                            Pagar sinal e o restante no estabelecimento: {{ service.application|get_half_value }}
                    </label>
                    <label>
                        <input type="radio" name="payment_type" value="completo" 
                            {% if payment_type == "completo" %}checked{% endif %}
                            onchange="this.form.submit()">
                            Pagar  o valor total: {{ service.application|get_total_value }}
                    </label>
                
                <button type="button" class="btn-pay" onclick="showModalQrcode()">Gerar QR Code</button>
                <button type="button" class="btn-pay" onclick="showModalCartao()">Cartão de Crétido</button>
            </form>
        </div>
    </div>
</div>
<!-- Modal de Pagamento -->
{% if payment_type %}
    <div id="payment-qrcode" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModalQrcode()">&times;</span>
            <h3>Escaneie o QR Code para realizar o pagamento</h3>
            <img id="qrcode" src="{% static 'global/images/qrcode-placeholder.png' %}" alt="QR Code de Pagamento">
            <p>Após o pagamento, sua reserva será confirmada.</p>
        </div>
    </div>

    <div id="payment-cartao" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModalCartao()">&times;</span>
            <h3>Digite os dados do cartão: </h3>
            
            <p>Após o pagamento, sua reserva será confirmada.</p>
        </div>
    </div>
{% endif %}
<script src='https://code.jquery.com/jquery-3.7.1.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
<script>$('#phone').mask('(00) 00000-0000', {placeholder: "(11) 96829-9535"});</script>
<script>
    function showModalQrcode() {
        document.getElementById("payment-qrcode").classList.add("active");
    }
    
    function closeModalQrcode() {
        document.getElementById("payment-qrcode").classList.remove("active");
    }
    function showModalCartao() {
        document.getElementById("payment-cartao").classList.add("active");
    }
    
    function closeModalCartao() {
        document.getElementById("payment-cartao").classList.remove("active");
    }
</script>
{% endblock content %}
