{% extends "global/partials/base.html" %}
{% load static %}
{% load custom_filters %}

{% block css-content %}
    <link rel="stylesheet" href="{% static "global/css/services.css" %}">
{% endblock css-content %}

{% block content %}

{% block header %}
    {% include "global/partials/header.html" %}
{% endblock header %}

    <div class="container">
        <!-- Mensagem de boas-vindas -->
        <div class="welcome-message">
            {% if user.name == '' %}
                <h1>Seja bem-vindo!</h1>
            {% else %}
                <h1>Seja bem-vinda(o) novamente, {{ user.name }}!</h1>
            {% endif %}
        </div>

        <!-- Filtro de categorias -->
        <form method="GET" class="category-filter">
            <select name="category" onchange="this.form.submit()">
                <option value="">Todas as categorias</option>
                <option value="cilios" {% if category == 'cilios' %}selected{% endif %}>Cílios</option>
                <option value="unha" {% if category == 'unha' %}selected{% endif %}>Unha</option>
                <option value="limpeza_pele" {% if category == 'limpeza_pele' %}selected{% endif %}>Limpeza de Pele</option>
                <option value="sobrancelha" {% if category == 'sobrancelha' %}selected{% endif %}>Sobrancelha</option>
            </select>
        </form>

        <!-- Exibição dos serviços filtrados -->
        <div class="services-list">
            {% for service in services %}
                <div class="service-item">
                    <img src="{{ service.image.url }}" alt="{{ service.name }}">
                    <h3>{{ service.name }}</h3>
                    <p>{{ service.description }}</p>
                    <p><strong>Aplicação:</strong> {{ service.application|get_total_value }}</p>
                    <p><strong>Manutenção:</strong> R$ {{ service.maintenance }}</p>
                    <p><strong>Duração:</strong> {{ service.duration|duration_format}}</p>
                    <!-- Link para agendar horário -->
                    <a href="{% url 'calendario' service.id %}">Agendar horário</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}