/* Estilos Gerais */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff0f5;
    color: #444;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff0f5;  
    text-align: left;
}

.sobre h2, .profissional h2 {
    color: #FF6B81;
    padding-bottom: 5px;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sobre h2 img, .profissional h2 img {
    width: 24px;
    height: 24px;
}

.sobre p {
    background: linear-gradient(to right, #ffb2c0, #ffc0cb, #fcc6cf, #ffd6dd, #ffdbe1);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Lora', serif;
    font-weight: 300;
}   

.profissional h3 {
    color: #555;
    margin-top: 10px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #b38b6d;
    color: white;
    margin-top: 20px;
    width: 100%;
}

.container {
    display: flex;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: #ffffff;
    border: 1px solid #ffb2c0;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 400px;
    text-align: left;
}

.box:hover {
    transform: scale(1.02);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.box h2 {
    font-size: 22px;
    color: #ff6b81;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.box h2 img {
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .box {
        width: 95%;
        max-width: 90%;
    }
}
