/* Estilo do header */
header {
    height: 7%;
    background-color: #ffb2c0;
    color: white;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 99%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out; /* Transição suave */
    z-index: 1000; /* Para manter acima de outros elementos */
}

/* Estilo do título principal */
header h1 {
    margin: 0;
    font-size: 2em;
    margin-top: 0px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    gap: 15px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 10px;
    transition: background-color 0.3s, color 0.3s;
}

header nav ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

header nav a.active {
    color: #FFD700; /* Cor do link ativo */
    border-bottom: 2px solid #FFD700; /* Linha embaixo do link ativo */
}

#logo-header{
    justify-content: left;
    height: 20px;
    width: 20px;
}