body {
    font-family: Arial, sans-serif;
    text-align: center;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 100px 100px;
}
.services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.service-item {
    border: 1px solid #ccc;
    padding: 15px;
    width: 250px;
    text-align: center;
}

.service-item img {
    width: 100%;
    height: auto;
}

.service-item h3 {
    font-size: 18px;
    margin-top: 10px;
}

.service-item p {
    font-size: 14px;
    margin-top: 5px;
}

/* Estilos para os detalhes do serviço */
.service-detail {
    padding: 20px;
    text-align: center;
}

.service-detail img {
    width: 100%;
    height: auto;
}

.service-detail h2 {
    font-size: 24px;
}

.service-detail p {
    font-size: 18px;
    margin-top: 10px;
}